.footerWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer img{
    width: 220px;
}
.links{
    color: var(--greenColor);
    display: flex;
    flex-direction: row;
    gap:2rem;
    cursor: pointer;
}


.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}
.social img{
    height:1rem;
    width: auto;
    cursor: pointer;
}