.footerWrapper{
    padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff1f4;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}
.imageWrapper{
    font-family: redhat;
    color: var(--greenColor);
    font-weight: bold;
    width: 7rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.imageWrapper::before{
    content: url('/corona.svg');
    width: 3rem;
    height: auto;
    position: absolute;
    left: -60%;
}
.footer img{
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
.links{
    color: var(--greenColor);
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    cursor: pointer;
}
.links span:hover{
    text-decoration: underline;
}
.links span{
    margin: 1rem;
}
.links p{
    color: var(--lightGreenColor);
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}
.social img{
    height:1rem;
    width: auto;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .footerWrapper{
        margin-top: 1rem;
        font-size: smaller;
        gap:1rem;
    }
    .footer{
        flex-direction: column;
        gap:2rem;
    }
    .social, .links{
        flex-direction: row;
    }
    .footer img{
        width: 100px;
    }
    .social img{
        width: 30px;
        object-fit: scale-down;
    }
}