@font-face {
  font-family: 'Gelion';
  src: url('../assets/Gelion Regular.ttf');
}
@font-face {
  font-family: 'redhat';
  src: url('../assets/RedHatText-Medium.otf');
}
@font-face {
  font-family: 'fontAwsome';
  src: url('../assets/FontAwesome6Free-Regular-400.otf');
}
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Gelion;    
}
:root{
  --greenColor: #035755;
  --redColor: #FB4C47;
  --lightRedColor: #fa555242;
  --lightGreenColor: #415E56;
  --lightDarkColor:#4B4F51;
} 

.sectionHeader{
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 6rem;
}
.sectionHeader h3{
  color: var(--redColor);
  font-family: redhat;
}
.sectionHeader h1{
  color:var(--greenColor);
  font-size: xx-large;
  font-family: redhat;
}
.sectionHeader p{
  line-height: 2;
  color: var(--lightDarkColor);
}
