.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom:1rem;
    font-size: larger;
    overflow: hidden;
}
.text{  
    margin-left:250px;
    display: flex;
    flex-direction: column;
    min-width: 28rem;
    gap:.5rem;
    color: var(--lightDarkColor);
}
.text h3, .text h2 , .aboutText h3{
    color: var(--redColor);
}
.text h1, .aboutText h1{
    color: var(--greenColor);
}
.text p{
    font-size: medium;
}
.text button{
    margin-top: 2rem;
    color: white;
    background-color: var(--redColor);
    width: 10.6rem;
    font-size: large;
    padding:1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: .2s;
    position: relative;
    z-index: 1;
    border: 2px solid var(--redColor);
}
.text button:hover{
    background-color: white;
    color: var(--redColor);
    transition: .2s;
}

.imageSection{
    position: relative;
    right:-50px;
}


.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10rem;
    background-image: url('../public/illustration3.png');
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: 106% 100%;
}
.aboutText{
    max-width: 31rem;
}
.aboutText p{
    line-height: 2;
    color: var(--lightDarkColor);
}
.aboutText button{
    background-color: var(--lightRedColor);
    color: var(--redColor);
    width: 10rem;
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius:2rem;
    font-size: large;
    transition: .2s;
}
.aboutText button:hover{
   color: white;
   background-color: var(--redColor);
   transition: .2s;
}
.about img{
    height: 25rem;
}
@media screen and (max-width:650px) {
    .main{
        flex-direction: column;
        width: 100%;
        overflow: visible;
    }
    .text{
        font-size: smaller;
        margin:auto;
        width: 85%;
    }
    .imageSection{ 
        right: 0;
        width:100%;
        height: 350px;
        overflow: hidden;
    }
    .imageSection img{
        margin: auto;
        margin-top: 1rem;
        width: 55%;
        height: 55%;
        object-fit: scale-down;
    }
    .text button{
        width: 8rem;
        font-size: medium;
    }
    .about{
        gap:0;
        flex-direction:column-reverse;
    }
    .aboutText{
       max-width: 20rem;
    }
    .about img{
        height: 15rem;
        width:15rem;
        margin-top: 1rem;
    }
    .aboutImage{
        height:300px;
    }
}