.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom:1rem;
    font-size: larger;
    overflow: hidden;
    background: rgb(255,241,244);
    background: linear-gradient(180deg, rgba(255,241,244,1) 12%, rgba(255,255,255,1) 100%);
}
.text{ 
    margin-left:11%;    
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    gap:.5rem;
    color: var(--lightDarkColor);
    font-size:x-large;
}
.text h3, .text h2 , .aboutText h3{
    font-size: large;
    font-family: redhat;  
    color: var(--redColor);
}
.text h1, .aboutText h1{
    font-family: redhat;  
    color: var(--greenColor);
}
.text p{
    font-size: large;
    line-height: 2;
}
.text button{
    margin-top: 2rem;
    color: white;
    background-color: var(--redColor);
    width: 10.6rem;
    font-size: large;
    padding:1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: .2s;
    position: relative;
    z-index: 1;
    border: 2px solid var(--redColor);
}
.text button:hover{
    background-color: white;
    color: var(--redColor);
    transition: .2s;
}

.imageSection{
    width: 100%;
    position: relative;
    right:0px;
}
.imageSection img{
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.about{
    margin-top: 2rem;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:12rem;
    background-image: url('../public/illustration3.png');
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: 106% 100%;
}
.aboutText{
    max-width: 34.5rem;
    display: flex;  
    flex-direction: column;
    gap:.5rem;
}
.aboutText h1{
    font-size: xx-large;
}
.aboutText p{
    line-height: 2;
    color: var(--lightDarkColor);
}
.aboutText button{
    background-color: var(--lightRedColor);
    color: var(--redColor);
    width: 10rem;
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius:2rem;
    font-size: large;
    transition: .2s;
}
.aboutText button:hover{
   color: white;
   background-color: var(--redColor);
   transition: .2s;
}
.aboutImage{
    width: 35%;
}
.aboutImage img{
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}