.nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav img{
    height:63px;
    cursor: pointer;
}
.navItems{
    color: var(--greenColor);
    display: flex;
    flex-direction: row;
    gap:2.5rem;
    cursor: pointer;
    align-items: center;
    position: relative;
}

.navItems div{
    position: relative;
}
.navItems div::before{
    content: "•";
    position: absolute;
    top:250%;
    right: 50%;
    transition: .2s;
    opacity: 0;
}
.navItems div:hover::before{
    content: "•";
    position: absolute;
    top:150%;
    right: 50%;
    opacity: 1;
    transition: .2s;
}
 
.active{
    color: var(--redColor);
    position: relative;
}


.nav button{
    color:var(--redColor);
    background-color: transparent;
    border: 2px solid var(--redColor);
    width: 9rem;
    padding:1rem;
    cursor: pointer;
    border-radius: 5rem;
    transition: .2s;
    font-size: large;
}
.nav button:hover{
    color: white;
    background-color: var(--redColor);
    transition: .2s;
}
@media screen and (max-width:650px){
    .nav{
        font-size: smaller;
        justify-content: space-around;
        width: 100%;
        position: relative;
        margin-bottom: 4rem;
    }   

    .navItems{
        gap:1rem;
        font-size: medium;
        position: absolute;
        bottom: -30px;
    }
    .nav button{
       width: 5rem;
       font-size: smaller;
       padding: .3rem;   
    }
    .nav img{
        height: 30px;
    }

}
