.sectionHeader{
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 6rem;
}
.sectionHeader h3{
    color: var(--redColor);
    font-family: redhat;
}
.sectionHeader h1{
    color:var(--greenColor);
    font-family: redhat;
}
.sectionHeader p{
    line-height: 2;
    color: var(--lightDarkColor);
    white-space: nowrap;
}