.mainImage{
    width: fit-content;
    margin: auto;
}
.mainImage img{
    height:40rem;
}
@media screen and (max-width:650px) {
    .mainImage img{
        width:100%;
        height: 50%;
        object-fit: scale-down;
    }
}